nav {
    opacity: 100%;
    height: auto;
    border-bottom: 1px solid #aeadae;
    z-index: 99;
    overflow: hidden;
}

.subnav {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 9rem;
    font-size: 14pt;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s linear, opacity 0.5s linear;
}

.subnav a {
    text-align: left;
    display: block !important;
}

.menu {
    height: 7rem;
    display: flex;
    padding: 0;
    justify-content: space-between;
    transition: height 1s;
}

.menu:hover {
    height: 15rem;
}

.menu:hover .subnav {
    visibility: visible;
    opacity: 1;
}

.menu:hover li:first-child img {
    margin-top: 22.5%;
}

.menu li {
    display: inline;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 22.5pt;
    font-weight: 500;
}

.menu li:first-child {
    vertical-align: middle;
    display: table-cell;
}

.menu li:first-child img {
    height: 7rem;
    margin-top: 0;
    transition: margin-top 1s;
}

.menu li:last-child {
    margin-right: 5.125rem;
}

nav,
.menu {
    width: 100%;
    margin: 0;
    padding: 0;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/*Hamburger menu*/
.menuHamburger {
    z-index: 99;
    height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition-delay: 1s;
    transition: visibility 0.5s linear, opacity 0.5s linear, height 0.5s linear;
}
.menuHamburger.open {
    height: auto;
    visibility: visible;
    list-style-type: none;
    transition-delay: 0.25s;
    opacity: 1;
}
.navigationHamburger li {
    padding: 0.25rem;
    text-transform: uppercase;
    font-size: 40pt;
}
.subnavHamburger {
    font-size: 30pt;
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
}
.menuToggle {
    display: none;
    margin: 1rem -2rem;
    --s: 100px; /* control the size */
    --c: #ceb9d5; /* the color */

    height: var(--s);
    aspect-ratio: 1;
    border: none;
    padding: 0;
    border-inline: calc(var(--s) / 2) solid #0000;
    box-sizing: content-box;
    --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
        content-box border-box;
    --_g2: radial-gradient(
            circle closest-side at 50% 12.5%,
            var(--c) 95%,
            #0000
        )
        repeat-y content-box border-box;
    background: var(--_g2) left var(--_p, 0px) top,
        var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
        var(--_g2) right var(--_p, 0px) top,
        var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
    background-size: 20% 80%, 40% 100%;
    position: relative;
    clip-path: inset(0 25%);
    -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
    cursor: pointer;
    transition: background-position 0.3s var(--_s, 0.3s),
        clip-path 0s var(--_s, 0.6s);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.menuToggle:before,
.menuToggle:after {
    content: "";
    position: absolute;
    border-radius: var(--s);
    inset: 40% 0;
    background: var(--c);
    transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menuToggle:checked {
    clip-path: inset(0);
    --_p: calc(-1 * var(--s));
    --_s: 0s;
}
.menuToggle:checked:before {
    transform: rotate(45deg);
}
.menuToggle:checked:after {
    transform: rotate(-45deg);
}
.menuToggle:focus-visible {
    clip-path: none;
    -webkit-mask: none;
    border: none;
    outline: 2px solid var(--c);
    outline-offset: 5px;
}
