#root {
    padding-bottom: 92px;
}
#footer-wrap {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
}

footer {
    width: 100%;
    border-top: 1px solid #aeadae;
    height: 60px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p a {
    margin: 0 0.2em;
}

footer p {
    color: #aeadae;
}

footer p {
    margin-top: 2rem;
    margin-bottom: 0.25em;
}

footer p:first-child {
    padding-left: 0.25em;
}

footer p:last-child {
    padding-right: 0.25em;
}
footer p,
footer:not(:nth-child(3)) {
    font-size: 13.5pt;
}

footer p:nth-child(3) {
    font-size: 16pt;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: #a984b5;
}
