@media screen {
    /*ALL COMPUTER OR LANDSCAPE SIZES*/
    @media (orientation: landscape) {
        @media (max-width: 1536px) {
            .menu,
            .menu li:first-child img {
                height: 6rem;
            }
            .menu:hover {
                height: 13.5rem;
            }
            .menu li {
                font-size: 17.5pt;
            }
            .subnav {
                font-size: 12pt;
                top: 8rem;
            }
            h1 {
                font-size: 37pt;
            }
            .banner-article {
                font-size: 19pt;
            }
            .content p,
            .centered-content p {
                font-size: 20pt;
            }
            .audio-img {
                height: 130px;
                width: 130px;
                margin-right: 4rem;
            }
            .team-img {
                width: 135px;
                height: 135px;
            }
            .team-description {
                font-size: 12pt !important;
            }
            .team-name {
                font-size: 19.5pt !important;
            }

            .team-title {
                font-size: 16.5pt !important;
            }
            iframe {
                height: 600px;
            }
        }
        @media (max-width: 1366px) {
            .menu,
            .menu li:first-child img {
                height: 5rem;
            }
            .menu:hover {
                height: 11rem;
            }
            .menu li {
                font-size: 15.5pt;
            }
            .subnav {
                font-size: 11pt;
                top: 6.5rem;
            }
            h1 {
                font-size: 34pt;
            }
            .banner-article {
                font-size: 17pt;
            }
            .content p,
            .centered-content p {
                font-size: 17pt;
            }
            .accordion-title,
            .accordion-content {
                padding: 0.8rem;
                font-size: 10pt;
            }
            footer p,
            footer:not(:nth-child(3)) {
                font-size: 11.5pt;
            }

            footer p:nth-child(3) {
                font-size: 14pt;
            }
            .team-img {
                width: 115px;
                height: 115px;
            }
            .team-description {
                font-size: 10pt !important;
            }
            .team-name {
                font-size: 17.5pt !important;
            }

            .team-title {
                font-size: 14.5pt !important;
            }
            iframe {
                height: 450px;
            }
        }
        @media (max-width: 1280px) {
            h1 {
                font-size: 31pt;
            }
            .banner-article {
                font-size: 16pt;
            }
            .content p,
            .centered-content p {
                font-size: 16pt;
            }
        }
    }
    /*ALL MOBILE PORTRAIT*/
    @media (orientation: portrait) {
        @media (max-width: 1080px) {
            p {
                text-align: center;
            }
            hr {
                width: 100%;
                margin: 5rem 0;
            }
            .menuToggle {
                display: block;
            }
            nav {
                display: none;
            }
            #home-article {
                flex-direction: column;
            }
            #home-article div {
                width: 100% !important;
            }
            #home-article div p {
                width: 90% !important;
            }
            #homeWrap {
                width: 90% !important;
            }
            h1 {
                text-align: center;
                width: 100%;
                margin: 5rem 0;
            }
            .banner-article {
                font-size: 30pt;
            }
            .content {
                width: 100% !important;
            }
            .content p {
                font-size: 27pt;
            }
            #studioWrap div,
            #workspaceWrap .w-40,
            #equipementWrap .w-80 {
                width: 100% !important;
            }
            #studioWrap p,
            #workspaceWrap p,
            #equipementWrap p,
            #associationWrap p {
                width: 90% !important;
                margin: 1rem auto;
            }
            footer {
                flex-direction: column;
            }
            footer p {
                padding: 0 !important;
            }
            footer p,
            footer:not(:nth-child(3)) {
                font-size: 27pt;
            }
            footer p:nth-child(3) {
                font-size: 32pt;
            }
            .flex-row {
                flex-direction: column;
            }
            img.w-50 {
                width: 90% !important;
                margin: 2rem auto;
            }
            #mixWrap .w-75,
            #audio .w-75,
            #masterWrap .w-75 {
                width: 100% !important;
            }
            #mixWrap p,
            #audio p,
            #audio p,
            #masterWrap p {
                width: 90%;
                margin: 2rem auto;
            }
            .audio-img {
                margin: 2rem auto;
                height: auto;
                width: 60%;
            }
            #lexique,
            #lexique .w-50,
            #faq,
            #faq .w-50 {
                width: 100% !important;
            }
            #lexique .w-50:last-child,
            #faq .w-50:last-child {
                margin-top: 3rem;
            }
            .accordion {
                width: 90%;
            }
            .accordion-title,
            .accordion-content {
                font-size: 24pt;
            }
            #mailtoForm {
                width: 100%;
            }
            #mailtoForm input {
                width: 90%;
                margin: 1rem auto !important;
                font-size: 24pt;
            }
            .team-card-row {
                flex-direction: column;
            }
            .team-card {
                width: 90%;
                margin: 4rem auto;
            }
            .team-img {
                width: 250px;
                height: 250px;
            }
            .team-description {
                font-size: 24pt !important;
            }
            .team-name {
                font-size: 30pt !important;
            }
            .team-title {
                font-size: 28pt !important;
            }
            #koalendarWrap .accordion {
                width: 100%;
            }
        }
        @media (max-width: 428px) {
            .navigationHamburger li,
            h1 {
                font-size: 30pt;
            }
            .subnavHamburger {
                font-size: 25pt;
            }
            h1 {
                margin-left: 0;
            }
            .accordion-title,
            .accordion-content {
                font-size: 18pt;
            }
            .team-upper {
                flex-direction: column;
            }
            .team-img {
                width: 90%;
                height: auto;
                margin: 2rem auto;
            }
        }
        @media (max-width: 412px) {
            footer p,
            footer:not(:nth-child(3)) {
                font-size: 20pt;
            }
            footer p:nth-child(3) {
                font-size: 25pt;
            }
        }
        @media (max-width: 394px) {
            h1 {
                font-size: 25pt;
            }
        }
    }
}
