
.accordion {
  max-width: 600px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.accordion-title {
  cursor: pointer;
  background-color: #c0a4c8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.accordion-title:hover {
  background-color: #A984B5;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
    background-color: #A984B5;
}

.accordion-content.open {
  animation: visibilityIn 2s ease-in;
}

@keyframes visibilityIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}